.detail {
	max-width: 1000px;
	margin: auto;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 43px;
}
.right {
	display: flex;
	align-items: center;
}
.right img {
	cursor: pointer;
}
.right button {
	margin-left: 20px;
}
.back {
	cursor: pointer;
}

/* Sort Dropdown */
.dropdown {
	position: relative;
}
.dropdownItems {
	position: absolute;
	background: white;
}

.dropdownItem {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.dropdownItemText {
	display: flex;
	align-items: center;
}
.dropdownItem img {
	width: 18px;
	margin-left: 10px;
}
.dropdownItem span {
	display: flex;
	align-items: center;
	color: #4a4a4a;
	font-size: 16px;
	margin-left: 10px;
}
.priorityDropdownItem {
	height: 52px;
	width: 205px;
	left: 30px;
	border: 1px solid #e5e5e5;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dropdownItems div {
	cursor: pointer;
	height: 52px;
	width: 235px;
	border-bottom: 1px solid #e5e5e5;
}

/* Priority Dropdown */
.priorityDropdown {
	height: 52px;
	width: 205px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	background: green;
}
.priorityDropdownItemText {
	display: flex;
	align-items: center;
	/* background: green; */
}
.priorityDropdown img {
	margin-right: 10px;
}
.priorityDropdownEclipse {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	margin: 0 10px;
}
.buttonPriorityDropdown {
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}

.buttonPriorityDropdown span {
	font-size: 16px;
	font-weight: 400;
}
.buttonPriorityDropdownArrow {
	display: flex;
	padding-right: 10px;
	align-items: center;
}

/* Title Container */
.titleContainer {
	display: flex;
	align-items: center;
}
.titleContainer h1 {
	font-size: 36px;
	font-weight: 700;
}
.titleContainer form input {
	font-family: inherit;
	font-size: 36px;
	font-weight: 700;
	background: #f4f4f4;
	border: none;
	border-bottom: 1px solid var(--black-color);
	outline: none;
}
.updateTitleButton {
	cursor: pointer;
}

/* Title */
.title {
	display: flex;
	align-items: center;
}
.title h1 {
	margin-right: 15px;
}

/* Todo items Empty  */
.todoItemsEmptyIcon {
	display: block;
	margin: auto;
}

/* Modal */

.modalAdd {
	position: absolute;
	background: white;
	height: 403px;
	width: 830px;
	box-shadow: 0px 4px 10px 0px #0000001a;
	position: fixed;
	margin: auto;
	inset: 0;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.modalAdd input:focus {
	box-shadow: 0px 4px 10px 0px #0000001a;
	outline: 1px solid var(--main-color);
}
.modalAddHeader {
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	padding: 24px 30px;
}
.modalAddHeader h1 {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}
.modalAddHeader img {
	cursor: pointer;
}
.modalAddBody {
	width: 759px;
	margin: auto;
	margin-top: 15px;
}
.modalAddBody label {
	font-size: 12px;
	font-weight: 600;
	margin: 15px 0;
	display: block;
	width: 100%;
}
.modalAddBody input {
	height: 52px;
	width: 759px;
	left: 30px;
	top: 135px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	font-family: inherit;
	padding: 18px;
	font-size: 16px;
	font-weight: 400;
}
.modalAddFooter {
	width: 100%;
	height: 80px;
	border-top: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
	z-index: -1;
}
.modalAddFooter button {
	margin-right: 22px;
	margin-left: auto;
}
.modalOverlay {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: var(--black-color);
	position: fixed;
	opacity: 0.2;
}
.todoItem {
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	box-shadow: 0px 6px 10px 0px #0000001a;
	height: 80px;
	font-size: 18px;
	border-radius: 18px;
	padding: 0 25px;
	font-weight: 500;
}
.todoItem input[type='checkbox'] {
	width: 20px;
	height: 20px;
	cursor: pointer;
	accent-color: #16abf8;
}
.todoItem div:nth-child(1) {
	display: flex;
	align-items: center;
}

.todoItem div:nth-child(1) p {
	margin-right: 22px;
}
.todoItemEclipse {
	margin: 0 25px;
	height: 9px;
	width: 9px;
	border-radius: 50%;
}
