@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--main-color: #16abf8;
	--black-color: #111111;
	--delete-color: #ed4c5c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #f4f4f4;
	color: #111111;
}

/* Global class */

.addButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 54px;
	width: 159px;
	border-radius: 45px;
	font-size: 18px;
	font-weight: 600;
	color: white;
	background-color: var(--main-color);
	border: 0;
	cursor: pointer;
	font-family: inherit;
}

.addButtonText {
	margin-left: 10px;
}
